<div class="container-fluid">

    <div class="row">
        <div class="col-lg-2">
            <p class="headings">Support Tickets</p>
        </div>
        <div class="col-lg-8"></div>
    </div>
    <!-- <hr> -->
    <div class="card">
        <div class="row head">
            <div class="col-lg-2">
                <p>Date</p>
            </div>
            <div class="col-lg-3">
                <p>Time</p>
            </div>
            <div class="col-lg-3">
                <p>Type Of Issues</p>
            </div>
            <div class="col-lg-2">
                <p>Realted Attachment</p>
            </div>
        </div>
        <br>
        <div class="row header">
            <div class="col-lg-3">
                <input class="form-control" type="date">
            </div>
            <div class="col-lg-3">
              <input class="form-control" type="time">
            </div>
            <div class="col-lg-2">       
                <select class="form-control">
                    <option value="0">Select Issue</option>
                    <option  value="1">U.I Issue</option>
                    <option  value="2">Data Issue</option>
                    <option  value="3">Functionality Issue</option>
                </select>
            </div>
            <div class="col-lg-2">
                <ngx-dropzone (change)="onSelect($event)" style="width:100% ;height: auto; text-align: center;">
                    <ngx-dropzone-label>Please Attach Photo!</ngx-dropzone-label>
                    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                </ngx-dropzone>
            </div>
        </div> <br>
        <div class="row">
            <div class="col-lg-4">
                <p>Comments</p>
            </div>
            <div class="col-lg-2">
                <p>Priority</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <textarea class="form-control" placeholder="Comments" rows="5"></textarea>
            </div>
            <div class="col-lg-2">       
                <select class="form-control">
                    <option value="0">Select Priority Type</option>
                    <option  value="1">U.I Issue</option>
                    <option  value="2">Data Issue</option>
                    <option  value="3">Functionality Issue</option>
                </select>
            </div>      
        </div><br>
        <div class="row">
            <div class="col-lg-9"></div>
            <div class="col-lg-1">
                <!-- <button class="form-control button1">Save</button> -->
                <button class="form-control cancel">Save</button>
                <!-- <button class="form-control cancel"
                    (click)="Update()">Update</button> -->
            </div>
            <div class="col-lg-1">
                <button class="form-control  cancel ">Cancel</button>
            </div>
        </div>

    </div>
