<div class="container-fluid">

    <div class="row">
        <div class="col-lg-10">
            <p class="headings">Attendance Details</p>
        </div>
        <div class="col-lg-2">
            <p class="count">Count: {{Attendance.length}}</p>
        </div>
    </div>

    <div class="card">
        <br>
        <div class="row FilterClass ">
            <div class="col-lg-1">
                <p class="filter" style="margin-left: 15px;">Filter By </p>
            </div>
            <div class="col-lg-3"> 
                <!-- (change)="getCourseID($event)"  -->
                <select class="form-control" name="CourseID" id="CourseID" [(ngModel)]="CourseID" (change)="getCourseID($event)" >
                    <option value=''>Select Course</option>
                    <option style="color:#0C275A" *ngFor="let details of courselist" value="{{details}}">
                        {{details}}</option>
                </select>
            </div>
            <!-- <div class="col-lg-3">
                <select class="form-control" name="courseid" id="courseid" [(ngModel)]="courseid" (change)="getcourseid($event)">
                    <option value="">Select Course</option>
                    <option style="color:#0C275A" *ngFor="let details of courselist" value="{{details.id}}">
                        {{details.name}}</option>
                </select>
            </div>  -->
            <div class="col-lg-2">
                <select class="form-control" name="month" id="month" [(ngModel)]="month"
                (change)='getmonthID($event)' (change)="GetFilteredMonth()">
                    <option value="0">Select Month</option>
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>

                </select>
            </div>
            <div class="col-lg-2">
                <select class="form-control" name="year" id="year" [(ngModel)]="year"
                (change)='getYearID($event)' (change)="GetFilteredYear()">
                    <option value="0">Select Year</option>
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                </select>
            </div>
            <div class="col-lg-3">
                <input type="search" class="form-control search" placeholder="Search" [(ngModel)]="search">
            </div>
        </div> <br>
    </div> <br>
    <br>

    <div class="row">
        <div class="col-lg-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table" *ngIf="(Attendance | filter: search ).length > 0; else noResults">
                            <thead>
                                <tr>
                                    <th>Course Name</th>
                                    <th *ngIf="roleid!=2">Student Name</th>
                                    <th>Login Date</th>
                                    <th>Login Time</th>
                                    <th>Logout Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- *ngIf="roleid!=2" -->
                                <tr *ngFor="let details of Attendance | filter: search">
                                    <td>{{details.courseName}}</td>
                                    <td *ngIf="roleid!=2">{{details.employeename}}</td>
                                    <td>{{details.loginDate}}</td>
                                    <td>{{details.loginTime}}</td>
                                    <td>{{details.logoutDate}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <ng-template #noResults>
                            <p class="NoResultShow"> No results found</p>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>